[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:rodjek/vim-puppet.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
